      <footer class="footer">
        <img class="footer__bg" src="assets/images/bg.png" alt="">
        <div class="footer__container">
          <p class="footer__text footer__text--left">Wszelkie prawa zastrzeżone PORCZYŃSCY INVESTMENT Sp. J.</p>
          <a href="https://ilikeart.pl/" target="_blank" rel="noopener" aria-label="link do strony i like art">
            <img class="footer__logo" src="assets/images/I_LIKE_ART_LOGO-BLACK.png" alt=" logo i like art" class="footer__logo">
          </a> 
          <p class="footer__text footer__text--right">Projekt i wdrożenie:</p>
        </div>
      </footer>
    </div>
    <script src="assets/scripts/bundle.js"></script>
  </body>
</html>
