<!DOCTYPE html>
<html lang="pl" class="html">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Osiedle Marmurowe 2</title>
    <link href="https://fonts.googleapis.com/css?family=Monda:400,700" rel="stylesheet">
    <link rel="stylesheet" href="assets/styles/bundle.css">
  </head>
  <body class="body">
    <div class="wrapper">
      <nav class="nav">
        <div class="nav__container">
          <span class="nav__hamburger">☰</span>
          <ul class="nav__menu">
            <li class="nav__item">
              <a class="nav__link" href="#">O inwestycji</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#">Znajdź dom</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#">Wizualizacje</a>
            </li>
            <li class="nav__item nav__item--center">
              <a class="nav__link nav__link--logo" href="#">Osiedle Marmurowe <sup>2</sup></a>
            </li>
            <li class="nav__item nav__item--right">
              <a class="nav__link" href="#">Kontakt</a>
            </li>
            <li class="nav__item nav__item--right">
              <a class="nav__link" href="#">O deweloperze</a>
            </li>
            <li class="nav__item nav__item--right">
              <a class="nav__link nav__link--bold" href="#">Lokalizacja</a>
            </li>
          </ul>
        </div>
      </nav>